@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    text-decoration:none;
    text-transform: uppercase;
    transition: .2s linear;
}

h1{
    font-size:10vh;
    display:flex;
    justify-content: center;
}

h2{
    font-size:5vh;
}

#h2style{
    color:white;
    background-color:#333333;
    min-height:35vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:5%;
    border-radius: 2rem;
}

#btn{
    padding:15px;
    display:inline-block;
    justify-content:center;
    color: black;
    border:2px solid black;
    border-radius:20px;
    font-weight: bolder;
}

#btn:hover{
    cursor: pointer;
}

#btnstyle{
    text-align: center;
}